<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>vue+axios</title>
</head>

<body>
  <div id="a1">
    <input type="text" v-model="echo">
    <button @click="test01()">测试1</button>
    <span>参数echo={{echo}}</span>
    <div>
      <pre v-html="result"></pre>
    </div>
    <div>
      <button @click="query()">数据查询</button>
    </div>
    <table>
      <tr>
        <td>编号</td>
        <td>名称</td>
        <td>iconfont</td>
        <td>描述</td>
        <td>是否启用</td>
      </tr>
      <tr v-for="type in types">
        <td>{{type.ttid}}</td>
        <td>{{type.typeName}}</td>
        <td>{{type.iconfont}}</td>
        <td>{{type.info}}</td>
        <td>{{type.enable}}</td>
      </tr>
    </table>
  </div>



  <script src="js/axios.min.js"></script>
  <script src="js/vue.min.js"></script>
  <script src="js/util.js"></script>
  <script src="js/data-service.js"></script>
  <script src="js/j2.js"></script>

</body>

</html>